{% extends 'base.html' %}
{% load restaurant_extras %}
{% url "restaurants:home" as nearby %}

{% block content %}
<div class="container mt-5">

    <div class="row mt-5">
        <div class="col-sm-12">
            <h1 class="text-center">Click to find the nearest restaurant</h1>
            <button id="find-me" class="btn btn-outline-danger btn-block btn-lg">Search!</button>

            {% if longitude and latitude %}
            <hr>

            <a class="btn btn-warning btn-block mt-3"
            href="{% url 'api:restaurants_list' %}?lat={{latitude}}&lng={{longitude}}"
            target="_blank">
            Results in API Endpoint</a>

            <a id="download-csv"
            class="btn btn-success btn-block mt-3"
            href="{% url "restaurants:csv_file" longitude latitude %}">
            Download Excel Results</a>

            {% endif %}

            <!-- <div class="mt-5">
                <h4>Getting server updates</h4>
                <p> { mercure_hub_url %} </p>
                <div id="result"></div>
            </div> -->

            <p id = "status"></p>
            <a id = "map-link" target="_blank"></a>
        </div>

        <div class="col-sm-12">
            {% if restaurants %}
            <div class="card">
                <ul class="list-group list-group-flush text-center">

                {% for restaurant in restaurants %}
                    <li class="list-group-item row">
                        <h4>{{ forloop.counter }}º</h4>

                        <div class="col">
                            <b>{{ restaurant.name | upper }}</b>
                        </div>

                        <div class="col">
                            <span>{{restaurant.distance | distance_format}}</span>
                        </div>
                    </li>
                {% empty %}
                    <li>Without results...</li>
                {% endfor %}

                </ul>
            </div>
            {% endif %}

        </div>
    </div>

</div>
{% endblock content %}

{% block scripts %}
    <!-- <script>
        if(typeof(EventSource) !== "undefined") {
        var source = new EventSource("{ mercure_hub_url %}");
        source.onmessage = function(event) {
            console.log(event);
            document.getElementById("result").innerHTML += event.data + "<br>";
        };
        } else {
        document.getElementById("result").innerHTML = "Sorry, your browser does not support server-sent events...";
        }
    </script> -->

    <script>
        function geoFindMe() {
            const status = document.querySelector('#status');
            const mapLink = document.querySelector('#map-link');

            mapLink.href = '';
            mapLink.textContent = '';

        function success(position) {
            const latitude  = position.coords.latitude;
            const longitude = position.coords.longitude;

            status.textContent = '';
            mapLink.href = `https://www.openstreetmap.org/#map=18/${latitude}/${longitude}`;
            mapLink.className = `btn btn-outline-success btn-block`;
            mapLink.textContent = `Latitude: ${latitude} °, Longitude: ${longitude} °`;

            // var token = '{{ csrf_token }}';

            url = "/nearby/"
            var path = url + "@" + longitude + "/" + latitude;

            $.ajax({
                // headers: { 'X-CSRFToken': token },
                type: 'GET',
                // data: data,
                url: path,
                success: function(r) {
                    location.href = path;

                },
                error: function (a, b, c) {
                    console.log(a, b, c);
                }
            });

        }

        function error() {
            status.textContent = 'Unable to retrieve your location';
        }

        if (!navigator.geolocation) {
            status.textContent = 'Geolocation is not supported by your browser';
        } else {
            status.textContent = 'Locating…';
            navigator.geolocation.getCurrentPosition(success, error);
        }

        }

        document.querySelector('#find-me').addEventListener('click', geoFindMe);
    </script>
{% endblock scripts %}
