# BASE
Django==3.1.9
django-admin-numeric-filter==0.1.6
djangorestframework==3.11.0
djangorestframework-gis==0.15
djangorestframework-simplejwt==4.4.0
django-redis==4.11.0
django_excel==0.0.10
django_requestlogs==0.2.1
ipython==7.13.0
PyJWT==1.6.4
redis==3.2.0
celery==4.4.0
psycopg2==2.8.5
geocoder==1.38.1
django-ipware==2.1.0
requests==2.23.0
python-dateutil==2.8.1

# PROD
gunicorn==19.5.0

# DEV
django-extensions==2.2.9
coverage==5.0.3
pylint==2.4.4
pylint-django==2.0.13
pudb==2019.2
Werkzeug==1.0.1
